<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Canonical URL -->
		<link rel="canonical" href="https://lojeda.co/">

		<!-- Dynamic Meta Tags -->
		<title>{{ pageTitle }}</title>
		<meta name="title" content="{{ pageTitle }}">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://lojeda.co/">
		<meta property="og:title" content="{{ pageTitle }}">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://lojeda.co/">
		<meta property="twitter:title" content="{{ pageTitle }}">

		<script src="/scripts/language.js"></script>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						{% if lang == "es" %}
							<a href="/es">Inicio</a>
						{% else %}
							<a href="/">Home</a>
						{% endif %}
					</li>
					<li>
						{% if lang == "es" %}
							<a href="/es/blog">Blog</a>
						{% else %}
							<a href="/blog">Blog</a>
						{% endif %}
					</li>
					<li>
						{% if lang == "es" %}
							<a href="/es/feed">Feed</a>
						{% else %}
							<a href="/feed">Feed</a>
						{% endif %}
					</li>
					<ul class="language-switcher">
						<li>
							<button 
								data-lang="en" 
								{% if translationSlug %}data-translation="{{ translationSlug }}"{% endif %}
								aria-label="Switch to English">
								🇺🇸
							</button>
						</li>
						<li>
							<button 
								data-lang="es" 
								{% if translationSlug %}data-translation="{{ translationSlug }}"{%endif%}
								aria-label="Switch to Spanish">
								🇪🇸
							</button>
						</li>
					</ul>
			</ul>
		</nav>
	</header>

	<main>
		{% block content %}{% endblock %}
	</main>

	<footer>
				footer
		</footer>
</body>
</html>