{% extends "base.njk" %}

{% block content %}
  <article data-type="post">
    <header>
      <h1>{{ title }}</h1>
      <p>
        {{ pubDate }}</p>
      <p>
        <strong>Tags:</strong>
      </p>
      <ul>
        {% for tag in tags %}
          <li>{{ tag }}</li>
        {% endfor %}
      </ul>

    </header>

    <section>
      {{ content | safe }}
    </section>
  </article>
{% endblock %}