{% extends "templates/base.njk" %}

{% block content %}
	<section>
		<h1>Blog</h1>
		<ul>
			{% for post in posts %}
				<li>
					<h2>
						<a href="/{{ post.data.slug }}">{{ post.data.title }}</a>
					</h2>
					<p>Published on {{ post.data.pubDate }}</p>
				</li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}