{% extends "../../templates/base.njk" %}

{% block content %}
	<section>
		<h1>Soy Lucas Ojeda</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum neque id velit ultricies, nec ullamcorper massa vestibulum. Maecenas in sapien eu erat hendrerit tempus non ut nibh. Vestibulum vitae ipsum sollicitudin, pulvinar erat varius, mattis nisi. Donec at aliquet dui. Sed non vulputate velit. Integer ligula tortor, pretium ac mauris et, tempus pharetra urna. Cras at nisi lectus. Vestibulum ac elit consequat massa accumsan viverra et et enim. Nulla facilisi. Nunc id eleifend tortor. Cras a massa volutpat, laoreet turpis condimentum, bibendum justo. Vestibulum bibendum erat in metus euismod semper. Maecenas non vestibulum risus. </p>
		<a href="/feed">Activity feed</a>
	</section>
{% endblock %}